<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/_layout.css" />
	<link href="~/Pictures/Vegetables.jpg" />
	<link href="~/Pictures/home3.png" />
	<link href="~/Pictures/logo.png" />
	<link href="~/Pictures/avatar.png" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
<footer>
	@RenderSection("footer", required:false)
</footer>
</html>
