@page "{id}"
@using MyBlog.Pages.Posts
@using MyBlog.Models
@model EditModel

<h1>Edit Post " @Model.Post.TitleOfPost "</h1>

<form method="post">

	<input type="hidden" asp-for="Post.Id" />
	<div>
		<p>Title of post: </p>
		<input asp-for="Post.TitleOfPost" placeholder="Title"><br />
		<span asp-validation-for="Post.TitleOfPost"></span>
	</div>

	<div>
		<p>Description of post: </p>
		<input asp-for="Post.DescriptionOfPost" placeholder="Description" /><br />
		<span asp-validation-for="Post.DescriptionOfPost"></span>
	</div>




	<input type="submit" name="save" value="Save" />
</form>