@model MyBlog.Models.Post

<h1>Create</h1>

<form  method="post">

<input asp-for="TitleOfPost"/><br/>
<input asp-for="DescriptionOfPost"/><br/>

<input type="submit" name="save" value="Save"/>
</form>
