@model MyBlog.ViewModels.LoginViewModel
@{
	ViewBag.Title = "Login";
}
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="~/css/login.css" />
</head>
<div class="logIn">
	<h1>!INFO!</h1>
	<p>If u are an admin Log In to add the post, if u are a user, please write a contact form to be a admin!</p>
</div>
<div >
	<form asp-action="Login" asp-controller="Home" method="post" class="myForm">
		<h1>Log In</h1>
		<hr />
		<h2>Nickname:</h2>
		<input type="text" class="inputtext" name="Nick" placeholder="Enter your nick" required>
		<h2>Password</h2>
		<input type="password" class="inputtext" name="Password" placeholder="Enter your password" required>
		<button type="submit" value="submit">Log In</button>
	</form>
</div>
@section footer{
	<div class="footer">
		<h3>&copy; Website made by Dawid Gorla 2018.</h3>
	</div>

}