@model Administrator
@{
	ViewBag.Title = "New Admin";
}
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="~/css/newAdmin.css" />

</head>
<form method="post">
	<div class="card">
		<p>Title of post: </p>
		<input asp-for="Login" placeholder="Title"><br />
		<span asp-validation-for="Login"></span>
		<p>Description of post: </p>
		<input asp-for="Password" placeholder="Description" /><br />
	<span asp-validation-for="Password"></span>	
		<div class="button">
			<input type="submit" id="submit" name="save" value="Save" />
		</div>
	</div>
</form>